Thumbs.db
*.obj
*.bak
*.plg
*.sbr
*.obj
*.dep
*.pdb
*.ilk
*.idb
*.log
*.bsc
*.user
*.suo
*.exe
*.scc
*.aps
*.clw
*.pch
*.cgi
*.xls
*.dat
*.mdl
*~
dist/
setting/
memo/
work/
RCS/
orig/
orig-*/
*[Dd]ebug*/
*[Rr]elease*/